# Ignorer les exécutables et fichiers objets
*.exe
*.o

# Ignorer les fichiers générés par Bison/Flex
*.tab.c
*.tab.h

# Ignorer les dossiers spécifiques aux IDE
.idea/
.vs/
.vscode/

# Ignorer les fichiers temporaires ou de sauvegarde
*.bak
*.tmp
*.swp
.history/
*Copy
outputs
data.txt
*.ps1
*.lnk
scripts
cygwin64homeSamigit-prompt.sh
Lignes_Commandes_Utiles.txt
Notes_version.txt
